* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

body {
  background-color: purple;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.hidden {

}

/* MAIN */
.container {
  margin: 0 auto;
  width: 80%;
}

/* MODULE */
.module {
  margin: 8rem 0;
  display: flex;
  flex-wrap: wrap;
  padding: 3rem;
  border-radius: 2rem;
  background-color: rgb(232, 168, 237);
}

.input-item {
  width: calc(100% / 3);
  padding-bottom: 2rem;
}

.buttons {
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 2rem;
}

/* RESULT */
.wrap-result {
  background-color: white;
  padding: 1.5rem;
}

.row {
  display: flex;
  margin-top: 1rem;
}

.col1 {
  width: 30%;
  padding: 1rem;
  background-color: gray;
}

.col1 p {
  font-size: 1.5rem;
  color: purple;
}

.col2 {
  width: 70%;
  background-color: white;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

table {
  width: 100%;
  padding: 1rem;
  font-size: 1.4rem;
}

th, td {
  padding-bottom: 2rem;
}

td {
  font-size: 1rem;
  color: purple;
}
